# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
android/captures/
android/.externalNativeBuild/
android/.cxx/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Secrets
*.keystore
*.jks
